@font-face {
    font-family: "Odin";
    src: 
        url("fonts/Norse-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik-SemiBold.ttf") format("truetype");
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display:flex;
    flex-direction: row;
}

button,
input {
    font-family: inherit;
    font-size: 100%;
}

a {
    color: white;
}

.left {
    width: 450px;
    height: 700px;

    background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    display: flex;
    flex-direction: column;
    
}

.odin-logo-and-text {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    top: 100px;
    align-items: center;
    justify-content: center;

    background-color: rgba(11, 20, 12,0.5);

    color: white;
    font-family: 'Odin', serif;
    font-size: 90px;
}

.odin-logo {
    width: 60px;
    height: 80px;
}

.odin-logo img {
    width: 100%;
}

.credit {
    position: absolute;
    bottom: 0;
    align-self: center;
    text-align: center;
    
    color: white;
}
/*---------------The Right Side of the Page-------------------------------------------------------------------------*/

.right {
    margin-top: 50px;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
    font-family:'Rubik', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    line-height: 1.2em;
}

.intro-container {
    width: 550px;
    margin-top: 50px;
    padding-left: 40px;
    
    font-weight: bold;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container {
    margin-top: 30px;
    width: 560px;
}

.form-container p {
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    padding-left: 40px;
}

.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-bottom: 20px;
    box-shadow: 0 7px 9px -9px rgb(51, 51, 51);

    color: rgb(75, 75, 75);
    font-size: 0.75em;
    text-transform: uppercase;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 3px;

    width: 200px;
    margin-bottom: 10px;
}

input {
    height: 26px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

input:hover {
    border: 1px solid rgb(37, 192, 153);
}

input[type="password"]:invalid {
    border: 1px solid rgb(192, 37, 37);
}

button {
    width: 200px;
    height: 36px;
    margin-top: 20px;

    border-radius: 4px;
    border: none;
    box-shadow: 0 0 4px 0.2px #0a0a09;

    background-color: #596D48;
    color: white;
}

button:hover {
    cursor: pointer;
    box-shadow: 2px 4px 11px 0.1px #0a0a09;
}

.log-in {
    width: 200px;
    margin-top: 20px;

    font-size: 0.75em;
    color: rgb(97, 91, 91);
    
    & a {
        color: rgb(42, 105, 42);
        text-decoration: none;
    }
}